header a {
    color: rgb(231, 71, 231);
    font-size: 17px;
}
#timelapse {
    font-size: 17px;
}

#quizarea {
    font-size: 25px;
}

li {
    font-weight: normal;
    font-size: 15px;
    border-radius: 8px; 
}
#listyle {
    background: rgb(47, 13, 110);
}
#listyle:hover {
    cursor: pointer;
    background: rgb(231, 71, 231);
}

#startquiz, #gobackquiz, #clear, #submit, #clearhighscore {
    background: rgb(47, 13, 110);
}
#startquiz:hover, #gobackquiz:hover, #clear:hover, #submit:hover, #clearhighscore:hover {
    cursor: pointer;
    background: rgb(231, 71, 231);
}

#alertResponse {
    font-size: 20px;
    font-style: italic;
    color: gray;
    font-weight: normal;
}